image: python:latest

before_script:
  - python --version ; pip --version  # For debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate

test:
  script:
    - pip install pytest
    - pytest

run:
  script:
    - pip install .
  artifacts:
    paths:
      - build/*
  