{% extends 'layout.html' %}

{% block content %}
    <div class = "row bg-light">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Imię</div>
                    {{ firstName }}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Nazwisko</div>
                    {{ lastName }}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">E-mail</div>
                    {{ mail }}
                </div>
            </li>
        </ol>
    </div>
{% endblock %}
